<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>formulario</h1>
    <br>
    <form action="/insertar_usuario" method="post">
        <label for="nombre">Nombre</label><br>
        <input type="text" name="nombre" required>
        <br>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" required>
        <br>
        <label for="edad">Edad</label>
        <input type="number" name="edad" required>
        <br>
        <label for="fecha_nacimiento">Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" required>
        <br>
        <button type="submit">Enviar</button>

    </form>
</body>
</html>